

<div class="row" id="navbar">
  <div class="col col-xs-4">
    <a class="nav-link" href="/profile"><i class="fa fa-paw"></i>
      <span>PROFILE</span>
    </a>
  </div>
  <div class="col col-xs-4">
    <a class="nav-link" href="/swipe"><i class="fa fa-search-plus"></i>
      <span>SEARCH</span>
    </a>
  </div>
  <div class="col col-xs-4">
    <a class="nav-link" href="/match"><i class="fa fa-heart"></i>
    <span>MATCHES</span>
    </a>
  </div>
</div>

