<div class="row" id="navbar">
  <div class="col col-xs-4">
    <a class="nav-link" href="/profile/profile"><i class="fa fa-paw"></i></a>
  </div>
  <div class="col col-xs-4">
    <a class="nav-link" href="/profile/swipe"><i class="fa fa-search-plus"></i></a>
  </div>
  <div class="col col-xs-4">
    <a class="nav-link" href="/profile/match"><i class="fa fa-heart"></i></a>
  </div>
</div>