<h1>SIGN UP PAGE</h1>

{{#if errorMessage }}
<div style="color: red;" class="error-message">{{ errorMessage }}</div>
{{/if}}

<form action="/signup" method="post" class="signup-form" enctype="multipart/form-data">

  <p>Your basic info</p>
  {{!-- <input type="file" name="photo"> --}}

  <label for="">Dog name</label>
  <input type="text" name="dogName">

  <label for="">E-mail</label>
  <input type="text" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <label for="">Age</label>
  <input type="number" name="age">

  <label for="">Breed
    <select id="breed" name="breed">
      <option value="mix">Mix</option>
      <option value="affenpinscher">Affenpinscher</option>
      <option value="airedale">Airedale</option>
      <option value="akita">Akita</option>
      <option value="appenzeller">Appenzeller</option>
      <option value="australian-shepherd">Australian Shepherd</option>
      <option value="basenji">Basenji</option>
      <option value="beagle">Beagle</option>
      <option value="bernese-mountain">Bernese Mountain</option>
      <option value="bichon-frise">Bichon Frise</option>
      <option value="bluetick">Bluetick</option>
      <option value="borzoi">Borzoi</option>
      <option value="bouvier">Bouvier</option>
      <option value="boxer">Boxer</option>
      <option value="brabancon">Brabancon</option>
      <option value="briard">Briard</option>
      <option value="bulldog">Bulldog</option>
      <option value="bullterrier">Bullterrier</option>
      <option value="cairn">Cairn</option>
      <option value="cattledog">Cattledog</option>
      <option value="chihuahua">Chihuahua</option>
      <option value="chow">Chow</option>
      <option value="clumber">Clumber</option>
      <option value="cockapoo">cockapoo</option>
      <option value="collie">collie</option>
      <option value="coonhound">Coonhound</option>
      <option value="corgi">Corgi</option>
      <option value="cotondetulear">Cotondetulear</option>
      <option value="dachshund">Dachshund</option>
      <option value="dalmatian">Dalmatian</option>
      <option value="dhole">Dhole</option>
      <option value="dingo">Dingo</option>
      <option value="doberman">Doberman</option>
      <option value="entlebucher">Entlebucher</option>
      <option value="eskimo">Eskimo</option>
      <option value="germanshepherd">German Shepherd</option>
      <option value="great-dane">Great Dane</option>
      <option value="greyhound">Greyhound</option>
      <option value="groenendael">Groenendael</option>
      <option value="havanese">Havanese</option>
      <option value="hound">Hound</option>
      <option value="husky">Husky</option>
      <option value="keeshond">Keeshond</option>
      <option value="kelpie">Kelpie</option>
      <option value="komondor">Komondor</option>
      <option value="kuvasz">Kuvasz</option>
      <option value="labrador">Labrador</option>
      <option value="leonberg">Leonberg</option>
      <option value="lhasa">Lhasa</option>
      <option value="malamute">Malamute</option>
      <option value="malinois">Malinois</option>
      <option value="maltese">Maltese</option>
      <option value="mastiff">Mastiff</option>
      <option value="mexicanhairless">Mexican Hairless</option>
      <option value="norwegian-buhund">Norwegian Buhund</option>
      <option value="norwegian-elkhound">Norwegian Elkhound</option>
      <option value="newfoundland">Newfoundland</option>
      <option value="otterhound">Otterhound</option>
      <option value="papillon">Papillon</option>
      <option value="pekinese">Pekinese</option>
      <option value="pembroke">Pembroke</option>
      <option value="pinscher">Pinscher</option>
      <option value="pitbull">Pitbull</option>
      <option value="pointer">Pointer</option>
      <option value="pomeranian">Pomeranian</option>
      <option value="poodle">Poodle</option>
      <option value="pug">Pug</option>
      <option value="puggle">Puggle</option>
      <option value="pyrenees">Pyrenees</option>
      <option value="redbone">Redbone</option>
      <option value="retriever">Retriever</option>
      <option value="ridgeback">Ridgeback</option>
      <option value="rottweiler">Rottweiler</option>
      <option value="saluki">Saluki</option>
      <option value="samoyed">Samoyed</option>
      <option value="schipperke">Schipperke</option>
      <option value="schnauzer">Schnauzer</option>
      <option value="scottish-deerhound">Scottish Deerhound</option>
      <option value="setter">Setter</option>
      <option value="sheepdog">Sheep Dog</option>
      <option value="shiba">Shiba</option>
      <option value="shihtzu">Shihtzu</option>
      <option value="spaniel">Spaniel</option>
      <option value="springer">Springer</option>
      <option value="stbernard">Stbernard</option>
      <option value="swiss-mountain">Swiss Mountain</option>
      <option value="terrier">Terrier</option>
      <option value="vizsla">Vizsla</option>
      <option value="waterdog">Waterdog</option>
      <option value="weimaraner">Weimaraner</option>
      <option value="whippet">Whippet</option>
      <option value="wolfhound">Wolfhound</option>
    </select>
  </label>

  <label for="">Activity
    <select id="activity" name="activity">
      <option value="Shy">Shy</option>
      <option value="Friendly">Friendly</option>
      <option value="Very Sociable">Very Sociable</option>
    </select>
  </label>

  <label for="">Phone number</label>
  <input type="number" name="phoneNumber">

  <p>Searching preferences</p>

  <label for="">Search Age Min</label>
  <input type="number" name="searchAgeMin">

  <label for="">Search Age Max</label>
  <input type="number" name="searchAgeMax">

  <label for="">Searching breed
    <select id="breed" name="searchBreed">
      <option value="everyone">Everyone</option>
      <option value="mix">Mix</option>
      <option value="affenpinscher">Affenpinscher</option>
      <option value="airedale">Airedale</option>
      <option value="akita">Akita</option>
      <option value="appenzeller">Appenzeller</option>
      <option value="australian-shepherd">Australian Shepherd</option>
      <option value="basenji">Basenji</option>
      <option value="beagle">Beagle</option>
      <option value="bernese-mountain">Bernese Mountain</option>
      <option value="bichon-frise">Bichon Frise</option>
      <option value="bluetick">Bluetick</option>
      <option value="borzoi">Borzoi</option>
      <option value="bouvier">Bouvier</option>
      <option value="boxer">Boxer</option>
      <option value="brabancon">Brabancon</option>
      <option value="briard">Briard</option>
      <option value="bulldog">Bulldog</option>
      <option value="bullterrier">Bullterrier</option>
      <option value="cairn">Cairn</option>
      <option value="cattledog">Cattledog</option>
      <option value="chihuahua">Chihuahua</option>
      <option value="chow">Chow</option>
      <option value="clumber">Clumber</option>
      <option value="cockapoo">cockapoo</option>
      <option value="collie">collie</option>
      <option value="coonhound">Coonhound</option>
      <option value="corgi">Corgi</option>
      <option value="cotondetulear">Cotondetulear</option>
      <option value="dachshund">Dachshund</option>
      <option value="dalmatian">Dalmatian</option>
      <option value="dhole">Dhole</option>
      <option value="dingo">Dingo</option>
      <option value="doberman">Doberman</option>
      <option value="entlebucher">Entlebucher</option>
      <option value="eskimo">Eskimo</option>
      <option value="germanshepherd">German Shepherd</option>
      <option value="great-dane">Great Dane</option>
      <option value="greyhound">Greyhound</option>
      <option value="groenendael">Groenendael</option>
      <option value="havanese">Havanese</option>
      <option value="hound">Hound</option>
      <option value="husky">Husky</option>
      <option value="keeshond">Keeshond</option>
      <option value="kelpie">Kelpie</option>
      <option value="komondor">Komondor</option>
      <option value="kuvasz">Kuvasz</option>
      <option value="labrador">Labrador</option>
      <option value="leonberg">Leonberg</option>
      <option value="lhasa">Lhasa</option>
      <option value="malamute">Malamute</option>
      <option value="malinois">Malinois</option>
      <option value="maltese">Maltese</option>
      <option value="mastiff">Mastiff</option>
      <option value="mexicanhairless">Mexican Hairless</option>
      <option value="norwegian-buhund">Norwegian Buhund</option>
      <option value="norwegian-elkhound">Norwegian Elkhound</option>
      <option value="newfoundland">Newfoundland</option>
      <option value="otterhound">Otterhound</option>
      <option value="papillon">Papillon</option>
      <option value="pekinese">Pekinese</option>
      <option value="pembroke">Pembroke</option>
      <option value="pinscher">Pinscher</option>
      <option value="pitbull">Pitbull</option>
      <option value="pointer">Pointer</option>
      <option value="pomeranian">Pomeranian</option>
      <option value="poodle">Poodle</option>
      <option value="pug">Pug</option>
      <option value="puggle">Puggle</option>
      <option value="pyrenees">Pyrenees</option>
      <option value="redbone">Redbone</option>
      <option value="retriever">Retriever</option>
      <option value="ridgeback">Ridgeback</option>
      <option value="rottweiler">Rottweiler</option>
      <option value="saluki">Saluki</option>
      <option value="samoyed">Samoyed</option>
      <option value="schipperke">Schipperke</option>
      <option value="schnauzer">Schnauzer</option>
      <option value="scottish-deerhound">Scottish Deerhound</option>
      <option value="setter">Setter</option>
      <option value="sheepdog">Sheep Dog</option>
      <option value="shiba">Shiba</option>
      <option value="shihtzu">Shihtzu</option>
      <option value="spaniel">Spaniel</option>
      <option value="springer">Springer</option>
      <option value="stbernard">Stbernard</option>
      <option value="swiss-mountain">Swiss Mountain</option>
      <option value="terrier">Terrier</option>
      <option value="vizsla">Vizsla</option>
      <option value="waterdog">Waterdog</option>
      <option value="weimaraner">Weimaraner</option>
      <option value="whippet">Whippet</option>
      <option value="wolfhound">Wolfhound</option>
    </select>
  </label>

  <button type="submit">Sign Up</button>

</form>